@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

/** font-family: 'Raleway', sans-serif;
**/

body {
    font-family: 'Raleway', sans-serif;
}

nav {
    padding: 45px;
    margin: 25px;
}

div .menu-topo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

div .menu-opt:hover {
    text-decoration: underline;
}

#logo {
    margin-right: 50px;
    font-size: 1.4em;
    font-weight: 700;
}

#button-top {
    margin-left: 400px;
    font-size: 0.8em;
    font-weight: 600;
    background: black;
    color: white;
    padding: 13px 20px;
    border-radius: 8px;
}

.menu-topo a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
    font-size: 0.9em;
    font-weight: 500;
}

.cont-principal {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: auto;
    margin-top: 20px;
}

div .sec-textos {
    width: 500px;
}

div .sec-textos h1 {
    font-size: 4em;
    font-weight: bolder;

}

div .sec-textos p {
    line-height: 1.5em;
    margin-top: -35px;
    margin-bottom: 40px;
    font-size: 0.9em;
    width: 380px;
    font-weight: 700;
}

div input {
    padding: 18px;
    border-radius: 10px;
    border: none;
    background-color: #eeeeee;
    margin-right: 10px;
}

div button {
    background-color: rgb(53, 182, 53);
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    border: none;
    padding: 18px;
    border-radius: 10px;
    cursor: pointer;
}

div section .footer {
    margin-top: 60px;
    font-size: 0.9em;
    font-weight: 600;
    color: #8f8f8f;
}

div section .imgs-group {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    width: 300px;
}

div section .imgs-group img {
    width: 20px;
}

section img {
    padding-left: 80px;
    padding-top: 40px;
}